:root {
    --primary-color: #f00;
    --while-color: #DADADA;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    background-color: #170f23;
}

#main {
    display: flex;
}

/* Menu Logo*/

#menu {
    width: 230px;
    height: 100vh;
    background-color: hsla(0, 0%, 100%, 0.05);
    ;
}

.menu-logo {
    padding: 14px 25px 0 28px;
}

.logo {
    background: url('https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg') top center / cover no-repeat;
    width: 70%;
    height: 45px;
    background-size: contain;
}

/* Menu Header */

.menu-list {
    margin-top: 8px;
}

.menu-item-main {
    padding-left: 28px;
    color: var(--while-color);
    text-decoration: none;
    width: 100%;
}

.menu-item {
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
}

.menu-item::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #7200a1;
    display: none;
}

.menu-item-descrip {
    font-size: 1.2rem;
    padding-left: 2px;
    font-weight: 600;
    opacity: 0.9;
}

.menu-item-icon {
    font-size: 1.7rem;
    width: 24px;
    opacity: 0.9;
}

.menu-item:hover {
    background-color: #393243;
}

.menu-item:hover.menu-item::before {
    display: block;
}

.menu-item:hover .menu-item-descrip {
    color: #ffffff;
}

.menu-item:hover .menu-item-icon {
    color: #ffffff;
}

.line {
    background-color: #352e3f;
    height: 1px;
    width: 184px;
    margin: auto;
    margin-top: 8px;
}

.live {
    background: url('https://zjs.zadn.vn/zmp3-desktop/dev/147506/static/media/live-tag.e25dd240.svg') top center / cover no-repeat;
    background-size: auto;
    height: 16px;
    width: 34px;
    position: absolute;
    bottom: 9px;
    right: 90px;
}

/* Menu Main */

.menu-login {
    margin: 8px 20px;
    background: #7200a1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-login-description {
    text-align: center;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px 20px 8px 20px;
}

.menu-login-btn {
    padding: 6px 20px;
    text-transform: uppercase;
    background-color: #7200a1;
    outline: #ffffff;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 38px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 73%;
    margin-bottom: 15px;
}

.menu-login-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.menu-vip {
    background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8px 20px;
}

.menu-vip-description {
    text-align: center;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px 20px 8px 20px;
}

.menu-vip-btn {
    padding: 6px 20px;
    text-transform: uppercase;
    background-color: #ffdb00;
    border: 1px solid #ffdb00;
    outline: #ffffff;
    color: #32323D;
    border-radius: 38px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 81%;
    margin-bottom: 15px;
}

.menu-vip-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Menu Playlist */

.menu-playlist {
    border-top: 1px solid #352e3f;
    margin-top: 16px;
}

.menu-playlist-content {
    padding: 10px 28px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.menu-playlist-icon {
    font-size: 2rem;
}

.menu-playlist-descrip {
    font-size: 1.4rem;
    margin-left: 10px;
    font-weight: 700;
}

.menu-playlist-content:hover {
    cursor: pointer;
}

/* Content Heading */

#content {
    flex: 1;
}

.content-heading {
    padding: 15px 30px;
}

.content-heading-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Heading Left */

.content-heading-left {
    display: flex;
    align-items: center;
}

.content-heading-left-icon {
    font-size: 1.6rem;
    color: #ffffff;
    opacity: 0.3;
    margin-right: 20px;
}

.content-heading-left-input {
    width: 470px;
    font-size: 1.4rem;
    height: 34px;
    line-height: 3.4rem;
    border-radius: 16px;
    outline: none;
    border: none;
    padding: 5px 30px;
    color: #eee;
    background-color: #2f2739;
    position: relative;
}

.content-heading-search-icon {
    position: absolute;
    color: #ffffff;
    font-size: 1.7rem;
    left: 24.25%;
}

.content-heading-left-history {
    position: absolute;
    width: 443px;
    background-color: #432275;
    top: 52px;
    left: 332px;
    display: none;
}

.content-heading-left-history-list {
    list-style: none;
    padding: 13px 10px;
}

.content-heading-left-history-link {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 10px;
    display: block;
}

.content-heading-left-history-link:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

.content-heading-left-history-icon {
    font-size: 1.4rem;
    opacity: 0.5;
}

.content-heading-left-history-descrip {
    font-size: 1.4rem;
    margin-left: 8px;
}

.content-heading-left-input:focus~.content-heading-left-history {
    display: block;
}

.content-heading-left-input:focus {
    background-color: #432275;
}

/* Heading Right */

.content-heading-right {}

.content-heading-right-list {
    list-style: none;
    display: flex;
}

.content-heading-right-item {
    padding: 10px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.content-heading-right-icon {
    color: #ffffff;
    font-size: 1.5rem;
    opacity: 0.8;
}

.content-heading-right-img {
    width: 38px;
    border-radius: 50%;
    margin-left: 8px;
}

.content-heading-right-item:hover {
    cursor: pointer;
}

/* Content */
.content-main{
    margin-top: 40px;
}
/* Content Left */
.playlist-img{
    width: 100%;
    border-radius: 5px;
}
.content-left-box{
    text-align: center;
    margin-top: 10px;
}
.content-left-box-title{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 600;
}
.content-left-sub{
    margin-top: 8px;
    color: hsla(0,0%,100%,0.5);
    font-size: 1rem;
    font-weight: 500;
}
.content-left-sub-time,.content-left-sub-singer,.content-left-sub-like{
    margin: 4px 0;
}
.content-left-sub-link{
    margin-top: 12px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 9px 24px;
    display: inline-block;
    border: 1px solid #7200a1;
    border-radius: 999px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all linear 0.2s;
}
.content-left-sub-link:hover{
    margin-top: 12px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 9px 24px;
    display: inline-block;
    background-color: #7200a1;
    border-radius: 999px;
    font-size: 1.2rem;
    font-weight: 600;
}
.content-left-sub-link-icon{
    margin-right: 8px;
}
.content-left-more{
    margin-top: 12px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.content-left-more-item{
    padding: 10px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 50%;
    margin-left:10px;
    display: flex;
    align-items: center;
}
.content-left-more-item:hover{
    cursor: pointer;
}
.content-left-more-icon{
    color: #ffffff;
    font-size: 1.5rem;
    width: 16px;
}